APP_NAME=warehouse-service
APP_ENV=development
LOG_LEVEL=info
DB_LOG_LEVEL=warn
INTERNAL_HOST=127.0.0.1

DATABASE_URL=postgres://user:password@localhost:54321/warehouse_db?sslmode=disable

KAFKA_BROKERS=localhost:9094
KAFKA_GROUP_ID=warehouse-service-group
KAFKA_HARVEST_TOPIC=farm.harvest.created
KAFKA_STOCK_TOPIC=warehouse.inventory.updated
KAFKA_ORDER_CREATED_TOPIC=payment.simulated_completed
KAFKA_STOCK_RESERVED_TOPIC=warehouse.stock.reserved
KAFKA_STOCK_FAILED_TOPIC=warehouse.stock.reservation_failed
