APP_NAME=warehouse-service
APP_ENV=development
LOG_LEVEL=info
DB_LOG_LEVEL=warn
APP_PORT=8089
GRPC_PORT=50059
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317
VALKEY_ADDR=localhost:6379
INTERNAL_HOST=127.0.0.1

DATABASE_URL=postgres://user:password@localhost:54321/warehouse_db?sslmode=disable

INTERNAL_SECRET=68f59c82c34424dbd0853a6cf159047be593d4e98d766db7e5047ec9ead3c71c
JWKS_URL=http://localhost:4434/.well-known/jwks.json
JWKS_CACHE_TTL=5m
EXPECTED_ISSUER=http://localhost:4444/
AUTH_SERVICE_ADDR=localhost:50052

KAFKA_BROKERS=localhost:9094
KAFKA_GROUP_ID=warehouse-service-group
KAFKA_AUTH_POLICY_TOPIC=auth.policy.changed
KAFKA_HARVEST_TOPIC=farm.harvest.created
KAFKA_STOCK_TOPIC=warehouse.inventory.updated
KAFKA_PICKUP_REQUESTED_TOPIC=warehouse.pickup.requested
KAFKA_PICKUP_ARRIVED_TOPIC=logistics.pickup.arrived_at_warehouse
KAFKA_INTAKE_CREATED_TOPIC=warehouse.intake.created
KAFKA_NOTIFICATION_CREATED_TOPIC=notification.created
KAFKA_ORDER_CREATED_TOPIC=payment.simulated_completed
KAFKA_STOCK_RESERVED_TOPIC=warehouse.stock.reserved
KAFKA_STOCK_FAILED_TOPIC=warehouse.stock.reservation_failed
DEFAULT_WAREHOUSE_ID=WAREHOUSE-HN-001
