# Auth Service Configuration
APP_NAME=auth-service
APP_ENV=development
APP_PORT=8082
GRPC_PORT=50052
LOG_LEVEL=debug

# PostgreSQL (Specific DB for Auth Service)
DATABASE_URL=postgres://user:password@localhost:54321/auth_db?sslmode=disable

# Redis (for Blacklist)
VALKEY_ADDR=localhost:6379

# Kafka
KAFKA_BROKERS=localhost:9094
KAFKA_AUTH_TOPIC=auth.user.events

# Ory Kratos Admin
KRATOS_ADMIN_URL=http://localhost:4434

# Security
INTERNAL_SECRET=very-secret-internal-key
JWKS_URL=http://localhost:4434/.well-known/jwks.json
JWKS_CACHE_TTL=1h
EXPECTED_ISSUER=http://localhost:4444/
