APP_NAME=logistics-service
APP_ENV=development
LOG_LEVEL=info
DB_LOG_LEVEL=warn
APP_PORT=8085
GRPC_PORT=50055
INTERNAL_HOST=127.0.0.1

DATABASE_URL=postgres://user:password@localhost:54321/logistics_db?sslmode=disable
VALKEY_ADDR=localhost:6379

INTERNAL_SECRET=68f59c82c34424dbd0853a6cf159047be593d4e98d766db7e5047ec9ead3c71c
JWKS_URL=http://localhost:4434/.well-known/jwks.json
JWKS_CACHE_TTL=5m
EXPECTED_ISSUER=http://localhost:4444/
AUTH_SERVICE_ADDR=localhost:50052

KAFKA_BROKERS=localhost:9094
KAFKA_GROUP_ID=logistics-service-group
KAFKA_AUTH_POLICY_TOPIC=auth.policy.changed
KAFKA_STOCK_RESERVED_TOPIC=warehouse.stock.reserved
KAFKA_STOCK_TOPIC=warehouse.inventory.updated
KAFKA_PICKUP_REQUESTED_TOPIC=warehouse.pickup.requested
KAFKA_SHIPMENT_ASSIGNED_TOPIC=logistics.delivery.assigned
KAFKA_SHIPMENT_DELIVERED_TOPIC=logistics.delivery.completed
KAFKA_GPS_UPDATED_TOPIC=logistics.gps.updated
DEFAULT_DESTINATION_STORE_ID=11111111-1111-1111-1111-111111111101
